.main-content {
	position: relative;

	&:after {
		content: '';
		background: image-url('game/bg-main.png') 0 0 no-repeat;
		position: absolute;
		bottom: 0;
		left: 50%;
	}

	&.loading .loading-sinbal {
		display: block;
	}

	.propaganda {
		color: #fff;
		font-weight: bold;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.65);
	}
}

.main-content-bd {
	&.show-result {
		.congratulation {
			@include animation(show-icon 0.5s 0.5s ease-in-out forwards);
		}

		.btn-link {
			@include animation(show-icon 0.5s 0.7s ease-in-out forwards);
		}
	}

	.congratulation {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		color: #fff;
		font-weight: bold;
		text-align: center;
		@include transform(scale(0));

		.get-award {
			display: block;
		}
	}

	.btn-link {
		@include transform(scale(0));
	}
}

.lottery-part {
	@include background-image(linear-gradient(315deg, #fc751b, #e54e55));
	@include box-sizing(border-box);

	.lightbox {
		width: 100%;
		height: 100%;
		position: relative;
		@include background-image(linear-gradient(39deg, #fccd1b, #c31c4c));
	}
}

.award-list {
	position: relative;
	height: 100%;
	@include box-sizing(border-box);

	&.is-shine {
		@include animation(shine 0.5s ease-in-out infinite);
	}

	.list {
		position: absolute;
		vertical-align: top;
		@include box-sizing(border-box);

		&:before {
			content: '';
			background: image-url('game/gifts.png') 0 0 no-repeat;
			display: block;
			position: absolute;
			left: 50%;
		}

		&:after {
			content: '';
			background: #000;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			@include opacity(0.7);
		}

		&:nth-child(odd) {
			background: #dcf6ff;
		}

		&:nth-child(even) {
			background: #ffefcd;
		}

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				top: 0;
			}
		}

		@for $i from 3 through 5 {
			&:nth-child(#{$i}) {
				right: 0;
			}
		}

		@for $i from 5 through 7 {
			&:nth-child(#{$i}) {
				bottom: 0;
			}
		}

		&:nth-child(1), &:nth-child(7), &:nth-child(8) {
			left: 0;
		}

		&.is-show:after {
			@include opacity(0);
		}

		.award-name {
			font-weight: bold;
		}
	}
}

.loading-sinbal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;

	.loader {
		position: absolute;
		top: 0;
		left: 50%;
		border-radius: 50%;
		@include background-image(linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%));
		@include animation(loading-ani 1.4s infinite linear);
		@include transform(translateZ(0));

		&:before {
			content: '';
			background: #ffffff;
			width: 50%;
			height: 50%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 100% 0 0 0;
		}

		&:after {
			content: '';
			margin: auto;
			background: #e07534;
			width: 75%;
			height: 75%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 50%;
		}
	}

	em {
		display: block;
		color: #fff;
		font-size: 15px;
		line-height: 1.5em;
		text-align: center;
	}
}

.btn-start {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	@include box-sizing(border-box);
	@include background-image(linear-gradient(to bottom, #eb4d54 0%, #cd4d50 54%, #b70005 55%, #960101 100%));

	&:after {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
	}
}

@include keyframes(shine) {
	0% {
		border-image: image-url('index/bg-border.png') 28% 28% round;
	}

	100% {
		border-image: none 28% 28% round;
	}
}

@include keyframes(show-icon) {
	0% {
		@include transform(scale(0));
	}

	50% {
		@include transform(scale(1.1));
	}

	100% {
		@include transform(scale(1));
	}
}

@include keyframes(loading-ani) {
	0% {
		@include transform(rotate(0deg));
	}

	100% {
		@include transform(rotate(360deg));
	}
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
	.main-content {
		padding-bottom: 210px;

		&:after {
			margin: 0 0 0 -284px;
			width: 568px;
			height: 198px;
		}

		.propaganda {
			font-size: 18px;
			line-height: 2em;
		}

		.highlight {
			font-size: 30px;
		}
	}

	.main-content-bd {
		margin-top: 20px;

		.congratulation {
			margin-top: -40px;
			font-size: 30px;
			line-height: 40px;
		}
	}

	.lottery-part {
		margin: 10px auto 20px auto;
		padding: 7px;
		width: 632px;
		height: 512px;
		border-radius: 27px;

		.lightbox {
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
			border-radius: 20px;
		}
	}

	.award-list {
		border: 25px solid transparent;
		border-image: image-url('index/bg-border.png') 28% 28% round;

		.list {
			display: inline-block;
			width: calc((100% - 12px) / 3);
			height: calc((100% - 12px) / 3);
			box-shadow: 3px 3px 0 rgba(113, 18, 0, 0.5);

			&:nth-child(2), &:nth-child(6) {
				left: 33.7%;
			}

			&:nth-child(4), &:nth-child(8) {
				top: 33.7%;
			}

			&.best:before, &.second:before {
				margin-left: -41px;
				width: 82px;
				height: 64px;
				top: 25px;
			}

			&.third {
				padding-top: 70px;

				.award-name {
					line-height: 18px;
				}

				&:before {
					margin-left: -47px;
					background-position: -82px 0;
					width: 94px;
					height: 62px;
					top: 6px;
				}
			}

			&.again:before {
				margin-left: -58px;
				background-position: -176px 0;
				width: 116px;
				height: 56px;
				top: 34px;
			}

			&.best, &.second, &.again {
				padding-top: 105px;
			}

			.award-name {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}

	.loading-sinbal {
		margin: -30px 0 0 -35px;
		padding-top: 60px;
		height: 40px;

		.loader {
			margin-left: -25px;
			width: 50px;
			height: 50px;
		}
	}

	.btn-start {
		margin: -70px 0 0 -88px;
		padding-top: 10px;
		width: 176px;
		height: 126px;
		box-shadow: inset 2px 4px 0 rgba(255, 172, 172, 0.75), 0 12px 0 #540000, 0 17px 8px rgba(0, 0, 0, 0.75);
		border-radius: 30px;
		font-size: 36px;
		font-weight: bold;
		line-height: 116px;

		&:after {
			margin-left: 7px;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 16px solid #fff;
		}

		&:hover {
			margin-top: -62px;
			box-shadow: inset 2px 4px 0 rgba(255, 172, 172, 0.75), 0 4px 0 #540000, 0 9px 8px rgba(0, 0, 0, 0.75);
		}
	}
}

@include respond-to(Tablets) {
	.main-content-bd {
		padding: 0;
	}

	.lottery-part {
		position: relative;
		bottom: auto;
		left: auto;
	}
}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.main-content {
		margin-bottom: 10px;
		padding-bottom: 110px;

		&:after {
			margin: 0 0 0 -142px;
			background-size: 284px 99px;
			width: 284px;
			height: 99px;
		}

		.highlight {
			font-size: 24px;
		}
	}

	.main-content-bd .congratulation {
		margin-top: -20px;
		font-size: 15px;
		line-height: 20px;
	}

	.lottery-part {
		margin: 10px auto;
		padding: 3px;
		width: 300px;
		height: 244px;
		border-radius: 13px;

		.lightbox {
			box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
			border-radius: 10px;
		}
	}

	.award-list {
		border: 12px solid transparent;
		border-image: image-url('index/bg-border.png') 28% 28% round;

		.list {
			width: calc((100% - 8px) / 3);
			height: calc((100% - 8px) / 3);
			box-shadow: 2px 2px 0 rgba(113, 18, 0, 0.5);

			&:before {
				background-size: 146px 32px;
			}

			&.best:before, &.second:before {
				margin-left: -20px;
				width: 41px;
				height: 32px;
				top: 12px;
			}

			&.third {
				padding-top: 35px;

				.award-name {
					line-height: 10px;
				}

				&:before {
					margin-left: -23px;
					background-position: -41px 0;
					width: 47px;
					height: 31px;
					top: 3px;
				}
			}

			&.again:before {
				margin-left: -29px;
				background-position: -88px 0;
				width: 58px;
				height: 28px;
				top: 10px;
			}

			&:nth-child(2), &:nth-child(6) {
				left: 34%;
			}

			&:nth-child(4), &:nth-child(8) {
				top: 34%;
			}

			&.best, &.second, &.again {
				padding-top: 48px;
			}

			.award-name {
				display: block;
				line-height: 15px;
			}
		}
	}

	.loading-sinbal {
		margin: -20px 0 0 -30px;
		padding-top: 32px;
		height: 30px;

		.loader {
			margin-left: -15px;
			width: 30px;
			height: 30px;
		}

		em {
			font-size: 12px;
			line-height: 1.5em;
		}
	}

	.btn-start {
		margin: -35px 0 0 -44px;
		padding-top: 5px;
		width: 88px;
		height: 63px;
		box-shadow: inset 1px 2px 0 rgba(255, 172, 172, 0.75), 0 5px 0 #540000, 0 9px 4px rgba(0, 0, 0, 0.75);
		border-radius: 15px;
		font-size: 18px;
		line-height: 58px;

		&:after {
			margin-left: 7px;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 8px solid #fff;
		}
	}
}

@include browsers('IE') {
	.award-list {
		position: relative;
		border-image: none;

		&.is-shine:before {
			display: none;
		}

		&:before {
			content: '';
			margin: -248px 0 0 -309px;
			background: image-url('game/light-bulb.png') 0 0 no-repeat;
			display: block;
			width: 618px;
			height: 496px;
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}
}

@include browsers('IE9') {
	.main-content-bd.show-result {
		.congratulation, .btn-link {
			@include transform(scale(1));
		}
	}
}

@include browsers('IE8') {
	.lottery-part {
		background: image-url('for-ie/bg-slot.png') 0 0 no-repeat;
	}

	.award-list .list {
		width: 185px;
		height: 145px;

		&.is-show:after {
			display: none;
		}

		&:after {
			background: image-url('for-ie/bg-op70.png') 0 0;
		}

		&:first-child, &:first-child + li + li, &:first-child + li + li + li + li, &:first-child + li + li + li + li + li + li {
			background: #dcf6ff;
		}

		&:first-child + li, &:first-child + li + li + li, &:first-child + li + li + li + li + li, &:first-child + li + li + li + li + li + li + li {
			background: #ffefcd;
		}

		&:first-child, &:first-child + li, &:first-child + li + li {
			top: 0;
		}

		&:first-child + li + li, &:first-child + li + li + li, &:first-child + li + li + li + li {
			right: 0;
		}

		&:first-child + li + li + li + li, &:first-child + li + li + li + li + li, &:first-child + li + li + li + li + li + li {
			bottom: 0;
		}

		&:first-child, &:first-child + li + li + li + li + li + li, &:first-child + li + li + li + li + li + li + li {
			left: 0;
		}

		&:first-child + li, &:first-child + li + li + li + li + li {
			left: 33.7%;
		}

		&:first-child + li + li + li, &:first-child + li + li + li + li + li + li + li {
			top: 33.7%;
		}
	}

	.main-content-bd {
		.congratulation, .btn-link {
			display: none;
		}

		&.show-result {
			.congratulation, .btn-link {
				display: block;
			}
		}
	}

	.btn-start {
		margin-left: -95px;
		padding: 0 0 10px 0;
		background: image-url('for-ie/bg-btn-start.png') 0 0 no-repeat;
		width: 191px;
		height: 151px;
	}
}