.main-title {
	@include perspective(500);

	.left-part {
		@include transform(rotateX(90deg));
		@include transform-origin(right, bottom);
		@include animation(left-ani 0.3s ease-in-out forwards);
	}

	.right-part {
		@include transform(rotateY(90deg));
		@include transform-origin(left, center);
		@include animation(right-ani 0.3s 0.3s ease-in-out forwards);
	}
}

.main-content {
	position: relative;
	top: 100px;
	@include opacity(0);
	@include animation(show-detail 0.3s 0.6s ease-in-out forwards);

	&:before, &:after {
		content: '';
		background: image-url('index/bg-main.png') 0 0 no-repeat;
		display: block;
		position: absolute;
	}

	&:before {
		right: 50%;
	}

	&:after {
		left: 50%;
	}

	.kv {
		font-size: 0;
	}
}

.film-recom {
	position: relative;
	background: image-url('index/bg-film.png') right 0 repeat-y;
	@include box-sizing(border-box);

	&:before, &:after {
		content: '';
		background: #029bd1 image-url('index/border-film.png') right 0 no-repeat;
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
	}
}

.slide-show {
	height: 100%;
	position: relative;
	@include box-sizing(border-box);

	&:before {
		content: '';
		background: image-url('index/bg-film.png') -26px 0 repeat-y;
		display: block;
		width: 4px;
		height: 240px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.showcase {
		width: 100%;
		overflow: hidden;
	}

	.ctrl-button {
		background: #000;
		position: absolute;
		top: 50%;
		border: 1px solid #fff;
		cursor: pointer;
		z-index: 1;

		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&.btn-prev {
			left: 4px;
			border-left: 0;
			border-radius: 0 4px 4px 0;
		}

		&.btn-next {
			right: 0;
			border-right: 0;
			border-radius: 4px 0 0 4px;
		}
	}
}

.movie-list {
	position: relative;
	z-index: 1;
	font-size: 0;
	white-space: nowrap;

	.list {
		margin-left: 4px;
		display: inline-block;
		color: #000;
		text-shadow: none;

		.img-wrap {
			display: block;
			width: 100%;
			overflow: hidden;
		}

		img {
			display: block;
			max-width: 100%;
		}

		.movie-name {
			display: block;
			text-align: center;
			white-space: normal;
		}
	}
}

.lottery-part {
	@include background-image(linear-gradient(315deg, #fc751b, #e54e55));
	@include box-sizing(border-box);

	.lightbox {
		width: 100%;
		height: 100%;
		@include background-image(linear-gradient(39deg, #fccd1b, #c31c4c));
	}
}

.award-list {
	width: 100%;
	height: 100%;
	font-size: 0;
	@include box-sizing(border-box);

	.list {
		background: #fff;
		display: inline-block;
		height: 100%;
		position: relative;
		vertical-align: top;
		@include box-sizing(border-box);

		&:before {
			content: '';
			background: image-url('index/bg-award.png') 0 0 no-repeat;
			display: block;
			position: absolute;
			left: 50%;
		}

		&:after {
			content: '';
			background: #000;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include opacity(0.7);
			@include animation(flicker 4.5s ease-in-out infinite);
		}

		&:first-child {
			margin-left: 0;

			+ li:after {
				@include animation-delay(1.5s);
			}

			+ li + li:after {
				@include animation-delay(3s);
			}
		}

		.award-name {
			display: block;
			color: #000;
			text-align: center;
			text-shadow: none;
		}
	}
}

.owl-carousel .owl-item {
	float: left;
}

@include keyframes(left-ani) {
	0% {
		@include transform(rotateX(90deg));
	}

	100% {
		@include transform(rotateX(0deg));
	}
}

@include keyframes(right-ani) {
	0% {
		@include transform(rotateY(90deg));
	}

	100% {
		@include transform(rotateY(0deg));
	}
}

@include keyframes(show-detail) {
	0% {
		top: 100px;
		@include opacity(0);
	}

	100% {
		top: 0;
		@include opacity(1);
	}
}

@include keyframes(flicker) {
	0% , 30% , 70% , 100% {
		@include opacity(0.7);
	}

	40% , 60% {
		@include opacity(0);
	}
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
	.main-content {
		padding-bottom: 264px;

		&:before, &:after {
			bottom: 0;
		}

		&:before {
			margin-right: -3px;
			width: 500px;
			height: 234px;
		}

		&:after {
			margin-left: 72px;
			background-position: -500px 0;
			width: 368px;
			height: 268px;
		}

		> .desc {
			margin: 20px 0 25px 0;
		}
	}

	.kv {
		padding-bottom: 320px;
		position: relative;
	}

	.film-recom {
		padding: 46px 4px 0 0;
		height: 320px;
		position: absolute;
		bottom: 0;
		right: 50%;

		&:before, &:after {
			height: 44px;
		}

		&:before {
			top: 0;
		}

		&:after {
			background-position: right -44px;
			bottom: 0;
		}
	}

	.slide-show {
		width: 474px;
		float: right;

		.ctrl-button {
			margin-top: -32px;
			width: 35px;
			height: 45px;

			&.btn-prev:before {
				margin: -11px  0 0 -7px;
				border-top: 11px solid transparent;
				border-right: 14px solid #ff9c00;
				border-bottom: 11px solid transparent;
			}

			&.btn-next:before {
				margin: -11px  0 0 -7px;
				border-top: 11px solid transparent;
				border-bottom: 11px solid transparent;
				border-left: 14px solid #ff9c00;
			}
		}
	}

	.movie-list .list {
		width: 154px;
		height: 274px;
		font-size: 18px;

		.img-wrap {
			height: 214px;
		}

		.movie-name {
			margin-top: 5px;
			font-size: 15px;
			line-height: 20px;
		}
	}

	.lottery-part {
		margin-top: 23px;
		padding: 7px;
		width: 500px;
		height: 297px;
		position: absolute;
		bottom: 0;
		left: 50%;
		border-radius: 0 27px 27px 0;

		.lightbox {
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
			border-radius: 0 20px 20px 0;
		}
	}

	.award-list {
		border: 25px solid transparent;
		border-image: image-url('index/bg-border.png');
		border-image-slice: 28% 28%;
		border-image-repeat: round;

		.list {
			margin-left: 7px;
			padding-top: 150px;
			width: calc((100% - 14px) / 3);
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);

			&:before {
				margin-left: -67px;
				width: 134px;
				height: 122px;
				top: 25px;
			}

			&:first-child + li {
				&:before {
					margin-left: -64px;
					background-position: -134px 0;
					width: 128px;
					height: 116px;
					top: 18px;
				}

				.award-name {
					line-height: 22px;
				}
			}

			.award-name {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
}

@include respond-to(Tablets) {
	.kv {
		padding-bottom: 0;
	}

	.film-recom {
		margin: 50px 0;
		padding: 0;
		background-position: center 0;
		width: 100%;
		height: 232px;
		position: relative;
		bottom: auto;
		right: auto;

		&:before, &:after {
			margin-left: -252px;
			background: image-url('index/border-film.png') center 0 no-repeat;
			width: 504px;
			left: 50%;
		}

		&:before {
			top: -44px;
		}

		&:after {
			background-position: center bottom;
			bottom: -44px;
		}
	}

	.slide-show {
		margin: 0 auto;
		width: 474px;
		left: 8px;
		float: none;

		&:before {
			background-position: -23px 0;
			height: 110%;
		}
	}

	.lottery-part {
		position: relative;
		bottom: auto;
		left: auto;
	}

	.movie-list {
		text-align: center;

		.movie-name {
			white-space: normal;
		}
	}
}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.main-content {
		margin-bottom: 10px;
		padding-bottom: 110px;

		&:before, &:after {
			background-size: 318px 98px;
			bottom: 0;
		}

		&:before {
			margin-right: -25px;
			width: 184px;
			height: 88px;
		}

		&:after {
			margin-left: 18px;
			background-position: -184px 0;
			width: 134px;
			height: 98px;
		}

		.desc {
			margin-bottom: 12px;
		}
	}

	.film-recom {
		margin: 32px 0;
		padding: 0 0 0 4px;
		background-position: center 0;
		background-size: 252px 1px;
		height: auto;

		&:before, &:after {
			margin-left: -126px;
			background-color: transparent;
			background-size: 252px 44px;
			width: 252px;
			height: 22px;
			left: 50%;
		}

		&:before {
			top: -22px;
		}

		&:after {
			background-position: right -22px;
			bottom: -22px;
		}
	}

	.slide-show {
		width: 237px;
		position: relative;
		top: 10px;
		left: 0px;

		&:before {
			background-position: -10px 0;
			background-size: 252px auto;
			height: 100%;
		}

		.ctrl-button {
			margin-top: -30px;
			width: 24px;
			height: 30px;

			&.btn-prev:before {
				margin: -5px  0 0 -5px;
				border-top: 5px solid transparent;
				border-right: 7px solid #ff9c00;
				border-bottom: 5px solid transparent;
			}

			&.btn-next:before {
				margin: -5px  0 0 -3px;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 7px solid #ff9c00;
			}
		}
	}

	.movie-list .list {
		width: calc(100% - 4px);
		font-size: 12px;

		.img-wrap {
			height: 104px;
		}

		.movie-name {
			margin-top: 5px;
		}
	}

	.lottery-part {
		margin: 0 auto 10px auto;
		padding: 3px;
		width: 250px;
		height: 148px;
		border-radius: 0 13px 13px 0;

		.lightbox {
			box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
			border-radius: 0 10px 10px 0;
		}
	}

	.award-list {
		border: 12px solid transparent;
		border-image: image-url('index/bg-border.png');
		border-image-slice: 28% 28%;
		border-image-repeat: round;

		.list {
			margin: 0 2px;
			padding-top: 75px;
			width: calc((100% - 12px) / 3);
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

			&:before {
				margin-left: -33px;
				background-size: 131px auto;
				width: 67px;
				height: 61px;
				top: 12px;
			}

			&:first-child + li {
				&:before {
					margin-left: -32px;
					background-position: -67px 0;
					width: 64px;
					height: 58px;
					top: 9px;
				}

				.award-name {
					line-height: 12px;
				}
			}

			.award-name {
				font-size: 12px;
				line-height: 15px;
			}
		}
	}
}

@include browsers('IE') {
	.lottery-part .lightbox {
		position: relative;

		&:before {
			content: '';
			background: image-url('for-ie/neon-light.png') 0 0 no-repeat;
			display: block;
			width: 488px;
			height: 284px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	.award-list {
		border-image: none;

		.list {
			width: calc((100% - 15px) / 3);
		}
	}
}

@include browsers('IE9') {
	.main-content {
		@include opacity(1);
	}

	.award-list .list.is-show:after {
		display: none;
	}
}

@include browsers('IE8') {
	.lottery-part {
		background: image-url('for-ie/bg-lottery-part.png') 0 0 no-repeat;

		.lightbox {
			position: relative;
	
			&:before {
				content: '';
				background: image-url('for-ie/neon-light.png') 0 0 no-repeat;
				display: block;
				width: 488px;
				height: 284px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}
		}
	}

	.award-list .list {
		width: 140px;

		&.is-show:after {
			display: none;
		}

		&:after {
			background: image-url('for-ie/bg-op70.png') 0 0;
		}
	}
}