.main-content {
	position: relative;

	&:before, &:after {
		content: '';
		background: image-url('index/bg-main.png') 0 0 no-repeat;
		display: block;
		position: absolute;
	}

	&:before {
		right: 50%;
	}

	&:after {
		left: 50%;
	}
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
	.main-content {
		padding-bottom: 264px;

		&:before, &:after {
			bottom: 0;
		}

		&:before {
			margin-right: -3px;
			width: 500px;
			height: 234px;
		}

		&:after {
			margin-left: 72px;
			background-position: -500px 0;
			width: 368px;
			height: 268px;
		}

		.desc {
			margin-bottom: 25px;
		}
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.main-content {
		margin-bottom: 10px;
		padding-bottom: 110px;

		&:before, &:after {
			background-size: 318px 98px;
			bottom: 0;
		}

		&:before {
			margin-right: -25px;
			width: 184px;
			height: 88px;
		}

		&:after {
			margin-left: 18px;
			background-position: -184px 0;
			width: 134px;
			height: 98px;
		}

		.desc {
			margin-bottom: 12px;
		}
	}
}

@include browsers('IE') {}

@include browsers('IE8') {
	.main-content {
	}
}