.l-header {
	background: #000;

	.logo {
		float: left;

		.link {
			display: block;
			width: 100%;
			height: 100%;
			float: left;

			&.friday .svg-icon {
				width: 100%;
				height: 100%;
			}

			&.richart {
				background: image-url('Shared/logo.png') no-repeat;
			}

			em {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
		}
	}

	.m-nav {
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;

		.hint-text {
			background: #d7d7d7;
			position: absolute;
			z-index: 1;
		}

		.btn-menu {
			background: #0f7ba3;
			position: absolute;
			right: 3px;
			border-radius: 50%;
			overflow: hidden;
			text-indent: 200%;
			white-space: nowrap;
		}

		.icon-menu {
			margin: -1px 0 0 -10px;
			background: #fff;
			width: 20px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transition(ease-in all 0.3s);

			&:before, &:after {
				content: '';
				margin-left: -10px;
				background: #fff;
				width: 20px;
				height: 2px;
				position: absolute;
				left: 50%;
				@include transition(ease-in all 0.3s);
			}

			&:before {
				margin-top: -7px;
				top: 50%;
			}

			&:after {
				margin-bottom: -7px;
				bottom: 50%;
			}
		}

		.m-nav-menu {
			background: #f5f5f5;
			position: absolute;
			top: -540px;
			right: 0;
			overflow: hidden;
			z-index: 0;
			text-align: center;
			@include box-sizing(border-box);
			@include transition(ease-in all 0.3s);

			.link {
				display: block;
				position: relative;
				color: #31a5b7;

				&:after {
					content: '';
					background: #bebebe;
					display: block;
					height: 2px;
					position: absolute;
					left: 50%;
				}
			}
		}

		&.is-active {
			.icon-menu {
				background: none;

				&:before {
					margin-top: -1px;
					@include transform(rotate(45deg));
				}

				&:after {
					margin-bottom: -1px;
					@include transform(rotate(-45deg));
				}
			}

			.m-nav-menu {
				top: 0;
			}
		}
	}
}

.l-content {
	position: relative;
	font-size: 0;

	&:before, &:after {
		content: '';
		background: image-url('Shared/bg-l-content.png') 0 0 no-repeat;
		display: block;
		position: absolute;
		z-index: -1;
	}

	&:before {
		right: 50%;
	}

	&:after {
		left: 50%;
		@include transform(rotate(180deg));
	}
}

.btn-link {
	margin: 0 auto;
	display: inline-block;
	position: relative;
	color: #ac1446;
	font-weight: bold;
	text-align: center;
	@include background-image(linear-gradient(to bottom, #ffe44d 0%, #ffba4d 55%, #ff9a00 56%, #ff6e00 100%));

	em {
		display: inline-block;
	}

	&:after {
		content: '';
		display: inline-block;
	}
}

.l-footer {
	width: 100%;
	color: #fff;
	text-align: center;
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
	.l-header {
		height: 70px;
		position: relative;
		z-index: 5;

		.logo {
			.link.friday {
				margin: 20px 0 0 23px;
				width: 132px;
				height: 33px;
			}

			.link.richart {
				margin: 17px 0 0 26px;
				background-size: 255px 39px;
				background-position: -132px 0;
				width: 124px;
				height: 39px;
			}
		}

		.m-nav {
			.hint-text {
				padding-right: 39px;
				width: 210px;
				height: 42px;
				top: 14px;
				right: 36px;
				border-radius: 24px;
				@include box-sizing(border-box);

				.location {
					color: #0f7ba3;
					font-size: 18px;
					line-height: 42px;
					text-align: center;
					text-shadow: 0 0 1px rgba(15, 123, 163, 0.5);
				}
			}

			.btn-menu {
				width: 36px;
				height: 36px;
				top: 3px;
			}

			.m-nav-menu {
				padding: 60px 0;
				left: 24px;
				right: 24px;
				border: 10px solid #2ac7fe;

				.link {
					font-size: 36px;
					line-height: 80px;

					&:after {
						margin-left: -30px;
						width: 60px;
						bottom: 15px;
					}
				}
			}
		}
	}

	.l-content {
		&:before, &:after {
			width: 488px;
			height: 375px;
			top: -40px;
		}
	}

	.btn-link {
		min-width: 420px;
		height: 48px;
		border-radius: 21px;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), inset 0 2px 0 #fff;
		font-size: 24px;
		line-height: 48px;

		em {
			margin: 0 14px;
			text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.6);
		}

		&:after {
			border-top: 8px solid transparent;
			border-left: 14px solid #ac1446;
			border-bottom: 8px solid transparent;
		}
	}

	.l-footer {
		line-height: 42px;
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.l-header {
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;

		.logo .link {
			&.friday {
				margin: 15px 0 0 10px;
				width: 87px;
				height: 22px;
			}

			&.richart {
				margin: 11px 0 0 13px;
				background-position: -87px 0;
				background-size: 170px 26px;
				width: 83px;
				height: 26px;
			}
		}

		.m-nav {
			height: 100%;
			z-index: -1;

			.hint-text {
				height: 100%;
				top: 0;
				right: 12px;

				.location {
					display: none;
				}
			}

			.btn-menu {
				margin-top: -18px;
				width: 36px;
				height: 36px;
				top: 50%;
			}

			.m-nav-menu {
				margin: 0 -5px 0 0;
				padding: 45px 0;
				left: 12px;
				right: 12px;
				border: 5px solid #2ac7fe;

				.link {
					font-size: 18px;
					line-height: 40px;

					&:after {
						margin-left: -15px;
						width: 30px;
						bottom: 7px;
					}
				}
			}
		}
	}

	.l-content {
		padding-top: 50px;

		&:before, &:after {
			background-size: 244px auto;
			width: 244px;
			height: 188px;
			top: 64px;
		}
	}

	.btn-link {
		min-width: 210px;
		height: 30px;
		border-radius: 15px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 #fff;
		font-size: 15px;
		line-height: 30px;

		em {
			margin: 0 7px;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
		}

		&:after {
			margin-top: -5px;
			right: 20px;
			border-top: 5px solid transparent;
			border-left: 9px solid #ac1446;
			border-bottom: 5px solid transparent;
		}
	}

	.l-footer {
		padding-bottom: 15px;
	}
}

@include browsers('IE8') {
	.l-header .m-nav {
		&.is-active .icon-menu {
			margin: -8px 0 0 -8px;
			background: image-url('for-ie/bg-menu.png') 0 -78px no-repeat;
			width: 16px;
			height: 16px;

			&:before, &:after {
				display: none;
			}
		}

		.btn-menu {
			background: image-url('for-ie/bg-menu.png') 0px 0px no-repeat;
			right: -18px;
		}

		.hint-text {
			padding-right: 18px;
			width: 168px;
			right: 57px;
			
			&:before, &:after {
				content: '';
				background: image-url('for-ie/bg-menu.png') 0 -36px no-repeat;
				display: block;
				width: 21px;
				height: 42px;
				position: absolute;
				top: 0;
				left: -21px;
			}
	
			&:after {
				background-position: -21px -36px;
				left: auto;
				right: -21px;
			}
		}
	}

	.main-content .btn-link {
		background: image-url('for-ie/bg-btn.png') repeat-x;
		height: 54px;
		position: relative;
		overflow: visible;

		&:before, &:after {
			content: '';
			background: image-url('for-ie/bg-btn-border.png') 0 0 no-repeat;
			width: 24px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -24px;
		}

		&:after {
			margin: 0;
			background-position: -24px 0;
			width: 38px;
			left: auto;
			right: -24px;
			border: 0;
		}
	}
}