<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
	<meta name="description" property="og:description" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
	<meta name="title" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta property="fb:app_id" content="471818043022804" />
	<meta property="og:title" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://richart-friday.sugarfun.com.tw/" />
	<meta property="og:image" content="" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:site_name" content="" />
	<title>Richart x friDay 影音</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/shared/favicon.ico">
	<link rel="stylesheet" href="../../Content/css/style.css?JS=20160420_01">
	@RenderSection("header",false)
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/Scripts/plugin/html5/html5.js??JS=20160216_01"></script>
	<![endif]-->
</head>
<body>
	<header class="l-header b-clearfix">
		<h1 class="logo b-clearfix">
			<a href="javascript:;" class="link friday ga_click_trace" ga_cat="logo" ga_event="click" ga_label="home">
				<em>Friday 影音</em>
				<svg class="svg-icon"><use xlink:href="../../Content/svg/icon.svg?JS=20160420_01#friday-logo"/></svg>
			</a>
			<a href="http://richart.tw/" class="link richart ga_click_trace" ga_cat="logo2" ga_event="click" ga_label="home">
				<em>Richart</em>
			</a>
		</h1>
		<nav class="m-nav">
			<div class="hint-text">
				<h2 class="location"></h2>
				<button class="btn-menu jq-menu ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="activity "><i class="m-icon icon-menu"></i><em>MENU</em></button>
			</div>
			<ul class="m-nav-menu">
				<li class="list"><a href="/" class="link">首頁</a></li>
				<li class="list"><a href="action" class="link">活動辦法</a></li>
				<li class="list"><a href="https://richart.tw/Richart/" class="link" target="_blank">Richart是誰</a></li>
				<li class="list"><a href="game" class="link">轉好運立即抽</a></li>
				<li class="list"><a href="//video.friday.tw/service" class="link">friDay免費影劇看到飽</a></li>
			</ul>
		</nav>
	</header>
	@RenderBody()
	<footer class="l-footer">
		<p class="copyright">©台新國際商業銀行 Copyright Taishin International Bank. <span class="sm-block">All Rights Reserved.</span></p>
	</footer>
</body>
<script type="text/javascript" src="../../Scripts/plugin/svgxuse/svgxuse.min.js?JS=20160216_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js??JS=20160216_01"></script>
<!-- <script type="text/javascript" src="../../Scripts/js/ga.js?JS=20160216_01" id="GAScript" data-id="UA-72250086-6"></script> -->
<script type="text/javascript" src="../../Scripts/js/factory.js??JS=20160216_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js??JS=20160216_01"></script>
@RenderSection("scripts",false)
</html>