@{
	Layout="~/Views/Shared/_Layout.cshtml";
}
@section header{ 
	<link rel="stylesheet" href="/Content/css/index.css?JS=20160420_01">
}
	<div class="l-content index" data-location="首頁">
		<h2 class="main-title">
			<div class="half-part left-part">
				<em>翻轉生活新世/視界</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#turn"/></svg>
			</div>
			<div class="half-part right-part">
				<em>出你的好運氣！</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#rotate"/></svg>
			</div>
		</h2>
		<div class="main-content">
			<div class="kv b-clearfix">
				<div class="half-part left-part">
					<h3 class="sub-title">翻！你的影音世界</h3>
					<p class="desc">免費看片哪有那麼難？<span class="dt-block">何必跪求網路神人要序號！</span><span class="sm-block">Richart讓你friDay影音180天看飽飽！</span></p>
				</div>
				<div class="half-part right-part">
					<h3 class="sub-title">轉！你的理財視界</h3>
					<p class="desc">變有錢真的沒有那麼難！<span class="dt-block">快來體驗新世代賺錢app！</span><span class="sm-block">讓你人人有錢賺 再抽現金NT$10萬！</span></p>
				</div>
				<div class="half-part left-part film-recom">
					<div class="slide-show jq-owl-slide">
						<div class="showcase b-clearfix">
							<ul class="movie-list js-movies" data-items="3" data-loop="true" data-dots="false" data-autoplay="true" data-dotscontainer="" data-nav="true" data-navtext="" data-navclass="ctrl-button btn-prev,ctrl-button btn-next" data-navcontainer=".slider-ctrls" data-navcontainerclass="slider-ctrls"></ul>
						</div>
						<div class="slider-ctrls"></div>
					</div>
				</div>
				<div class="half-part right-part lottery-part">
					<div class="lightbox">
						<ul class="award-list">
							<li class="list">
								<em class="award-name">180天<br>免費看</em>
							</li>
							<li class="list">
								<em class="award-name">NT$300<br>+<br>37天免費看</em>
							</li>
							<li class="list">
								<em class="award-name">60天<br>免費看</em>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<p class="desc">獎品限制，活動詳情與注意事項請見右上角活動辦法</p>
			<a href="game" class="btn-link"><em>轉好運 立即抽</em></a>
		</div>
	</div>
@section scripts{ 
	<script type="text/javascript" src="/Scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20160420_01"></script>
	<script type="text/javascript" src="/Scripts/js/data.js?JS=20160420_01"></script>
}