<meta charset="utf-8">
<meta name="keywords" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
<meta name="description" property="og:description" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
<meta name="title" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta property="fb:app_id" content="471818043022804" />
<meta property="og:title" content="Richart x friDay 影音，千部電影免費看，再抽現金10萬，人人有獎" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://richart-friday.sugarfun.com.tw/" />
<meta property="og:image" content="" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:site_name" content="" />
<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/shared/favicon.ico">