	<header class="l-header b-clearfix">
		<h1 class="logo b-clearfix">
			<a href="javascript:;" class="link friday ga_click_trace" ga_cat="logo" ga_event="click" ga_label="home">
				<em>Friday 影音</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg#friday-logo"/></svg>
			</a>
			<a href="http://richart.tw/" class="link richart ga_click_trace" ga_cat="logo2" ga_event="click" ga_label="home">
				<em>Richart</em>
			</a>
		</h1>
		<nav class="m-nav">
			<div class="hint-text">
				<h2 class="location"></h2>
				<button class="btn-menu jq-menu ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="activity "><i class="m-icon icon-menu"></i><em>MENU</em></button>
			</div>
			<ul class="m-nav-menu">
				<li class="list"><a href="index.html" class="link">首頁</a></li>
				<li class="list"><a href="action.html" class="link">活動辦法</a></li>
				<li class="list"><a href="https://richart.tw/Richart/" class="link" target="_blank">Richart是誰</a></li>
				<li class="list"><a href="game.html" class="link">轉好運立即抽</a></li>
				<li class="list"><a href="" class="link">friDay免費影劇看到飽</a></li>
			</ul>
		</nav>
	</header>