<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>Richart x friDay 影音</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/action.css">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content index" data-location="首頁">
		<h2 class="main-title">
			<div class="half-part left-part">
				<em>翻轉生活新世/視界</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg#turn"/></svg>
			</div>
			<div class="half-part right-part">
				<em>出你的好運氣！</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg#rotate"/></svg>
			</div>
		</h2>
		<div class="main-content">
			<div class="main-content-hd">
				<h3 class="page-title">活動辦法</h3>
				<svg class="svg-icon">
					<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="45.6207" x2="380" y2="45.6207">
						<stop  offset="0" style="stop-color:#333333"/>
						<stop  offset="0.12" style="stop-color:#5E5E5E"/>
						<stop  offset="0.49" style="stop-color:#323232"/>
						<stop  offset="0.85" style="stop-color:#5E5E5E"/>
						<stop  offset="1" style="stop-color:#333333"/>
					</linearGradient>
					<use xlink:href="/Content/svg/icon.svg#bg-film"/>
				</svg>
			</div>
			<div class="main-content-bd bg-ticket">
				<svg class="svg-icon border-top"><use xlink:href="/Content/svg/icon.svg#border-ticket"/></svg>
				<div class="ticket-content">
					<em class="term-title">活動名稱</em>
					<p class="desc">Richart x friDay影音 翻轉生活新世/視界轉出你的好運氣！</p>
					<em class="term-title">活動期間</em>
					<p class="desc">2016年4月20日(四)至2016年7月31日</p>
					<em class="term-title">活動辦法</em>
					<ul class="disc-list">
						<li class="list">活動對象<br>從未開立台新銀行Richart數位銀行活期儲蓄存款帳戶(以下簡稱Richart數位活儲帳戶)之年滿20歲本國自然人。</li>
						<li class="list">活動內容<br>活動一：於活動期間(2016/4/20~2016/7/31) 到活動網站，以個人FB帳號登入參加【Richart x friDay影音 翻轉生活新世/視界轉出你的好運氣！】抽獎活動。<br>活動二：【Richart x friDay影音 翻轉生活新世/視界轉出你的好運氣！】本活動期間結束後將從符合抽獎資格者中抽出新臺幣10萬元得獎者乙名。</li>
						<li class="list">活動獎項<br><span class="highlight">活動一【Richart x friDay影音 翻轉生活新世/視界轉出你的好運氣！】獎項：</span></li>
					</ul>
					<ul class="award-list">
						<li class="list b-middle">
							<div class="award-img film">
								<span class="award-name"><b>180</b>day</span>
							</div>
							<em>第一獎<br>friDay影音免費看180天 (90名)</em>
						</li>
						<li class="list b-middle">
							<div class="award-img film">
								<span class="award-name"><b>60</b>day</span>
							</div>
							<em>第二獎<br>friDay影音免費看60天 (150名)</em>
						</li>
						<li class="list b-middle">
							<div class="award-img money"></div>
							<em>普獎<br>NT$300 Richart用戶禮<span class="sm-block">+ </span>friDay影音免費看37天</em>
						</li>
					</ul>
					<p class="desc">※ 第一獎與第二獎中獎名單將於2016年8月31日統一公告於Richart官網最新消息：https:richart.tw/；普獎則不另行公告。<br>※ friDay影音免費看37天獎項可憑序號立即至friDay官網兌換使用；其餘活動獎項(包括RichartNT$300用戶禮)均須完成下述領獎流程後始得領取。</p>
					<p class="desc"><span class="highlight">活動二【現金NT$10萬】獎項－1名：</span><br>【現金NT$10萬】抽獎活動將於【Richart x friDay影音 翻轉生活新世/視界轉出你的好運氣！】活動期間結束後進行；用戶須於2016/8/20前憑領獎序號完成註冊Richart活儲帳戶並以Richart APP重新登入Richart活儲帳戶，即可獲得抽獎機會。本行將從符合抽獎資格者中抽出【現金NT$10萬】之得獎者乙名，並於2016年8月31公告於Richart官網最新消息。</p>
					<ul class="disc-list">
						<li class="list">領獎流程<br>得獎者於本活動網站(網址:   )登錄領獎序號與身分證字號後，連結至Richart數位銀行官網(<a href="https://www.richart tw/" class="link">https://www.richart tw/</a>，以下簡稱Richart官網)或Richart數位銀行APP(以下簡稱Richart APP)完成台新銀行Richart活儲帳戶開戶程序，並以Richart APP重新登入Richart活儲帳戶，始符合本活動領獎資格。</li>
					</ul>
					<em class="term-title">注意事項</em>
					<ul class="disc-list notice">
						<li class="list">本活動之參加人與兌獎人限居住於臺、澎、金、馬地區且持有中華民國身分證之國民參加，且需年滿20歲，資料若有不實，將取消參加及領獎資格，主辦單位保留法律追訴權。</li>
						<li class="list">本活動中獎之客戶若於寄發獎項前發生銷戶或違約交割之情事，則視為自動放棄得獎資格。</li>
						<li class="list">每人僅限參與Richart活儲帳號開戶活動一次，曾參加Richart活儲帳戶同期行銷推廣活動並登錄活動序號者，即無法再參與本活動；已參加本活動並登錄活動序者，亦不得再參加Richart活儲帳戶同期行銷推廣活動。 </li>
						<li class="list">台新銀行保留隨時修正、暫停、終止活動辦法及變更活動獎項內容之權利。</li>
						<li class="list">本活動序號，每個Facebook帳號僅配對一組，使用有效期限自2016年4月14日至2016年8月20日，逾期未使用領獎序號註冊Richart活儲帳戶並以Richart APP重新登入Richart活儲帳戶者，視同放棄領獎資格。</li>
						<li class="list">【Richart x friDay影音 翻轉生活新世/視界轉出你的好運氣！】-獎項發放規則：</li>
						<li class="list">第一獎與第二獎中獎者完成活動內容及領獎流程所有步驟後，台新銀行會於用戶以Richart APP登入Richart活儲帳戶之日起算2個月內(若遇假日則順延)以E-mail發送friDay影音兌換序號至用戶註冊Richart帳戶時留存之電子郵箱，中獎者可憑兌換序號逕行登入friDay影音進行兌換使用。</li> 
						<li class="list">Richart NT$300用戶禮：完成活動內容及領獎流程所有步驟後，台新銀行會於用戶以Richart APP登入Richart活儲帳戶後起算1個月內(若遇假日則順延)將NT$300元匯入中獎人開立之Richart活儲帳戶。</li>
						<li class="list">現金 NT$10萬抽獎：台新銀行將依中獎人開戶時提供之資訊與中獎者聯繫，並提供中獎回覆函予中獎人填寫。依所得稅法之規定，若年度累積中獎價值超過NT$20,010，中獎人須自行負擔10%之所得稅（非中華民國境內居住之個人為20%），故台新銀行將會扣除10%機會中獎稅款（核計約為NT$10,000）後將餘款匯入中獎人開立之Richart活儲帳戶。若中獎人未依回覆函內所訂期限辦理中獎相關手續，將視為中獎人自動放棄中獎資格及獎項。</li>
						<li class="list">獎項皆以實物或主辦單位公告為準，恕不提供交換、挑選、轉讓及折現，亦不得更換中獎人。</li>
						<li class="list">台新銀行非本活動獎項「friDay影音」之製造者或提供者，且與該活動獎項之提供廠商並無任何代理或合夥關係；兌獎人如因使用各項該活動獎項之商品或服務發生任何爭議，請洽該活動獎項之商品或服務之實際製造或提供廠商處理。</li>
						<li class="list">本活動獎項「friDay影音兌換序號」出貨時若遇規則改變等不可抗力因素而無法正常兌換時，台新銀行有權得以其他等值商品替代。</li>
						<li class="list">本活動屬〔機會中獎〕所得，依所得稅法規定，年度累積中獎價值若超過NT$1,000，應列入中獎人年度綜合所得；若所得贈品價值超過NT$20,010，中獎人須自行負擔10%之稅金（非中華民國境內居住之個人為20%），並配合台新銀行辦理代扣繳相關事宜。台新銀行依所得稅法第94-1條規定，得免填發各類所得扣繳暨免扣繳憑單予中獎人，若中獎人有需求時請另行提出申請。若中獎人未依限如期繳納應繳稅額並配合辦理領獎手續等相關事宜者，即視為自動放棄中獎資格。</li>
						<li class="list">參加者及中獎人應保證所有填寫或提出之資料皆為真實且正確，且未冒用或盜用任何第三人之資料或智慧財產權。如有不實或違法之情事，主辦單位將有權取消其活動參加資格；如為中獎者，則取消其中獎資格。如因此致主辦單位無法通知其中獎訊息時，主辦單位將不負任何責任，且如有致損害於主辦單位或其他任何第三人，參加者應自負法律責任。</li>
						<li class="list">任何不可歸責於本公司之事由，包含但不限於電腦、網路、電話、技術或硬體設備，而使參加活動者所登錄之資料有遺失、遲延、錯誤、毀損或無法辨識等情事產生，台新銀行不負任何法律與補償責任。</li>
						<li class="list">本活動嚴禁參加者使用程式或其他方式進行系統干擾偽造之行為，任何破壞活動進行、破壞網站管理者運作、違反網站管理使用條款者，如經主辦單位查證發現不法情形，主辦單位具有得取消其參加活動資格之權利。同時，對於任何以詐騙行動或其他足以傷及本活動或網站之個人主辦單位將追究其法律責任。</li>
						<li class="list">參加者提供資料對象為台新銀行，參加者同意提供個人資料予台新銀行於本活動目的範圍內蒐集處理及利用其個人資料。台新銀行將遵守個人資料保護法之規定，非經參加者之書面同意，不得將參加者之資料以任何方式提供予第三人蒐集、處理及利用，台新銀行所屬指定舉辦該活動之廠商亦同。
						<li class="list">參加本活動即表示同意接受上述條款，若有違反者，主辦單位台新銀行有權取消參加人之參加、兌獎及獲獎資格。</li>
						<li class="list">若對本活動有任何疑義，請撥打台新銀行Richart數位銀行24小時客服專線：(02)8798-9088 / 0800-888-800</li>
					</ul>
				</div>
				<svg class="svg-icon border-bottom"><use xlink:href="/Content/svg/icon.svg#border-ticket"/></svg>
			</div>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>