<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>Richart x friDay 影音</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/finalstep.css">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content" data-location="轉好運立即抽">
		<h2 class="main-title">
			<div class="half-part left-part">
				<em>翻轉生活新世/視界</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg#turn"/></svg>
			</div>
			<div class="half-part right-part">
				<em>出你的好運氣！</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg#rotate"/></svg>
			</div>
		</h2>
		<div class="main-content">
			<div class="main-content-hd">
				<h3 class="page-title">轉好運</h3>
				<svg class="svg-icon">
					<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="45.6207" x2="380" y2="45.6207">
						<stop  offset="0" style="stop-color:#333333"/>
						<stop  offset="0.12" style="stop-color:#5E5E5E"/>
						<stop  offset="0.49" style="stop-color:#323232"/>
						<stop  offset="0.85" style="stop-color:#5E5E5E"/>
						<stop  offset="1" style="stop-color:#333333"/>
					</linearGradient>
					<use xlink:href="/Content/svg/icon.svg#bg-film"/>
				</svg>
			</div>
			<div class="main-content-bd bg-ticket">
				<svg class="svg-icon border-top"><use xlink:href="/Content/svg/icon.svg#border-ticket"/></svg>
				<div class="ticket-content">
					<h3 class="propaganda">只要這一步<br>Richart帶你轉出理財大好運！</h3>
					<p class="slogan">輕鬆完成Richart申辦並登入Richart APP<strong>friDay影音免費看 再抽NT10萬元現金！</strong></p>
					<ul class="func b-clearfix">
						<li class="list">
							<h3 class="sub-title">電腦註冊領獎</h3>
							<a href="javascript:;" class="btn-link"><em>看詳情</em></a>
							<svg class="svg-icon pc"><use xlink:href="/Content/svg/icon.svg#pc"/></svg>
							<svg class="svg-icon pentagon"><use xlink:href="/Content/svg/icon.svg#pentagon"/></svg>
							<!--[if IE 8]><span class="pentagon"></span><![endif]-->
						</li>
						<li class="list">
							<h3 class="sub-title">APP申辦領獎</h3>
							<a href="https://goo.gl/fAEd1u" class="btn-link is-tm-show"><em>立即前往</em></a>
							<svg class="svg-icon mobile"><use xlink:href="/Content/svg/icon.svg#mobile"/></svg>
							<svg class="svg-icon pentagon"><use xlink:href="/Content/svg/icon.svg#pentagon"/></svg>
							<!--[if IE 8]><span class="pentagon"></span><![endif]-->
						</li>
					</ul>
					<p class="desc">每人僅限參與Richart活儲帳號開戶活動一次，曾參加註冊Richart活儲帳戶並符合資格後領取贈品、贈獎者，即無法參與本活動或其他任何以註冊Richart活儲帳戶為活動條件之贈品、贈獎活動，詳情請見右上角活動辦法。</p>
				</div>
				<svg class="svg-icon border-bottom"><use xlink:href="/Content/svg/icon.svg#border-ticket"/></svg>
			</div>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>