<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>Richart x friDay 影音</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/game.css?JS=20160420_01">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content game" data-location="轉好運立即抽">
		<h2 class="main-title">
			<div class="half-part left-part">
				<em>翻轉生活新世/視界</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#turn"/></svg>
			</div>
			<div class="half-part right-part">
				<em>出你的好運氣！</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#rotate"/></svg>
			</div>
		</h2>
		<div class="main-content">
			<div class="main-content-hd">
				<h3 class="page-title">轉好運</h3>
				<svg class="svg-icon">
					<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="45.6207" x2="380" y2="45.6207">
						<stop  offset="0" style="stop-color:#333333"/>
						<stop  offset="0.12" style="stop-color:#5E5E5E"/>
						<stop  offset="0.49" style="stop-color:#323232"/>
						<stop  offset="0.85" style="stop-color:#5E5E5E"/>
						<stop  offset="1" style="stop-color:#333333"/>
					</linearGradient>
					<use xlink:href="/Content/svg/icon.svg?JS=20160420_01#bg-film"/>
				</svg>
			</div>
			<div class="main-content-bd">
				<h4 class="propaganda">friDay影音免費看，還有機會<strong class="highlight sm-block">抽中NT10萬元現金！</strong>此時不轉，更待何時？<br>【按下 START 開始轉運】</h4>
				<div class="lottery-part">
					<div class="lightbox">
						<ul class="award-list">
							<li class="list best is-show">
								<em class="award-name">180天免費看</em>
							</li>
							<li class="list third">
								<em class="award-name">NT$300<br>+<br>37天免費看</em>
							</li>
							<li class="list second">
								<em class="award-name">60天免費看</em>
							</li>
							<li class="list third">
								<em class="award-name">NT$300<br>+<br>37天免費看</em>
							</li>
							<li class="list again">
								<em class="award-name">再翻轉一次</em>
							</li>
							<li class="list third">
								<em class="award-name">NT$300<br>+<br>37天免費看</em>
							</li>
							<li class="list second">
								<em class="award-name">60天免費看</em>
							</li>
							<li class="list third">
								<em class="award-name">NT$300<br>+<br>37天免費看</em>
							</li>
						</ul>
						<button class="btn-start jq-play">START</button>
						<div class="loading-sinbal">
							<div class="loader"></div>
							<em>- Loading -</em>
						</div>
						<p class="congratulation">爽翻了！<em class="get-award"></em></p>
					</div>
				</div>
				<a href="getCode.html" class="btn-link"><em>WooHoo！準備領獎囉！</em></a>
			</div>
			<p class="desc">獎品限制，活動詳情與注意事項請見右上角活動辦法</p>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!--[if lt IE 10]>
<script type="text/javascript" src="../../Scripts/plugin/jquery.placeholder/placeholder.min.js?JS=20160420_01"></script>
<![endif]-->
</html>