<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>Richart x friDay 影音</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/getcode.css?JS=20160420_01">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content getcode" data-location="轉好運立即抽">
		<h2 class="main-title">
			<div class="half-part left-part">
				<em>翻轉生活新世/視界</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#turn"/></svg>
			</div>
			<div class="half-part right-part">
				<em>出你的好運氣！</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#rotate"/></svg>
			</div>
		</h2>
		<div class="main-content">
			<div class="main-content-hd">
				<h3 class="page-title">轉好運</h3>
				<svg class="svg-icon">
					<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="45.6207" x2="380" y2="45.6207">
						<stop  offset="0" style="stop-color:#333333"/>
						<stop  offset="0.12" style="stop-color:#5E5E5E"/>
						<stop  offset="0.49" style="stop-color:#323232"/>
						<stop  offset="0.85" style="stop-color:#5E5E5E"/>
						<stop  offset="1" style="stop-color:#333333"/>
					</linearGradient>
					<use xlink:href="/Content/svg/icon.svg?JS=20160420_01#bg-film"/>
				</svg>
			</div>
			<div class="main-content-bd bg-ticket">
				<svg class="svg-icon border-top"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#border-ticket"/></svg>
				<div class="ticket-content">
					<h3 class="propaganda">恭喜你獲得<span class="gain sm-block">「friDay影音<b class="award"></b>天免費看」</span><b class="dt-block">3,500部強檔好片無限暢看！</b></h3>
					<div class="highlight-area">
						<p class="desc">你的專屬領獎、抽獎序號，請小心保管！<br>領獎序號<em class="code serial">784533</em><span class="sm-block">可以直接複製序號保存喔！</span><span class="hint dt-block sm-block">此序號僅限本人使用</span></p>
					</div>
					<div class="collect">
						<p class="desc">序號收藏方法</p>
						<ul class="function-list">
							<li class="list">
								<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#device-m"/></svg>
								<em>手機截圖</em>
							</li>
							<li class="list">
								<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#device-d"/></svg>
								<em>電腦螢幕截圖</em>
							</li>
							<li class="list">
								<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#device-shot"/></svg>
								<em>手機拍電腦</em>
							</li>
						</ul>
					</div>
					<div class="term">
						<a href="//video.friday.tw/sn" class="btn-friday" target="_blank"><em>立即領取免費看37天friDay 影音</em></a>
						<em class="slogan">完成領獎步驟跟Richart 領NT$300 <span class="tm-block">還有機會抽到<strong>NT10萬元現金</strong>！</span></em>
						<p class="action-desc">每人僅限參與Richart活儲帳號開戶活動一次，曾參加註冊Richart活儲帳戶並符合資格後領取贈品、贈獎者，即無法參與本活動或其他任何以註冊Richart活儲帳戶為活動條件之贈品、贈獎活動，詳情請見右上角活動辦法。</p>
					</div>
					<button class="btn-link jq-submit"><em>立馬填資料</em></button>
				</div>
				<svg class="svg-icon border-bottom"><use xlink:href="/Content/svg/icon.svg?JS=20160420_01#border-ticket"/></svg>
			</div>
		</div>
	</div>
	<div class="l-lightbox">
		<div class="m-box">
			<div class="m-box-hd">
				<h4>提醒您</h4>
				<button class="btn-close jq-close-box">close</button>
			</div>
			<div class="m-box-bd">
				<p class="notice">若您已成為 Richart 用戶或參加過其他 Richart 抽獎活動,則無法再於此遊戲領取獎項</p>
			</div>
			<div class="m-box-ft">
				<form name="txForm" method="post" action="">
					<input type="hidden" class="ACT_NO" value="">
					<a href="formStep.html" class="btn-link"><em>我知道了</em></a>
				</form>
			</div>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<!--[if lt IE 10]>
<script type="text/javascript" src="../../Scripts/plugin/jquery.placeholder/placeholder.min.js?JS=20160216_01"></script>
<![endif]-->
</html>