<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>RICHART 和你17賺翻天</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="../../Content/css/index.css">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content index" data-location="首頁">
		<div class="main-content">
			<h2 class="main-title">RICHART 和你17賺翻天</h2>
			<p class="slogan">讓血拼這檔事，變成你最重要的小事<br>從此邊花邊賺，<span class="sm-block">敗家不再失誤，花錢變成天賦！</span></p>
			<ul class="cooperate">
				<li class="list"><em>17Life</em>享樂新生活</li>
				<li class="list"><em>RICHART</em>理財新革命</li>
			</ul>
			<h3 class="sub-title">17轉轉賺翻天</h3>
			<p class="desc">體驗新世代理財，完成任務就有機會抽中大獎！<br>購物金輕鬆拿，揪團賺更多！<br>人人有獎再抽現金NT$10萬<span class="b-count">× 1名</span>！</p>
			<a href="game.html" class="btn-link">17轉轉賺翻天</a>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>