<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>RICHART 翻轉生活新世/視界 轉出你的好運氣！</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/index.css">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content index" data-location="首頁">
		<h2 class="main-title">
			<div class="half-part left-part">
				<em>翻轉生活新世/視界</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg#turn"/></svg>
			</div>
			<div class="half-part right-part">
				<em>出你的好運氣！</em>
				<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg#rotate"/></svg>
			</div>
		</h2>
		<div class="main-content">
			<div class="kv b-clearfix">
				<div class="half-part left-part">
					<h3 class="sub-title">翻！你的影音世界</h3>
					<p class="desc">免費看片哪有那麼難？<span class="dt-block">何必跪求網路神人要序號！</span><span class="sm-block">Richart讓你friDay影音180天看飽飽！</span></p>
				</div>
				<div class="half-part right-part">
					<h3 class="sub-title">轉！你的理財視界</h3>
					<p class="desc">變有錢真的沒有那麼難！<span class="dt-block">快來體驗新世代賺錢app！</span><span class="sm-block">讓你人人有錢賺 再抽現金NT$10萬！</span></p>
				</div>
				<div class="half-part left-part film-recom">
					<ul class="movie-list">
						<li class="list">
							<img src="/Content/img/index/cover/01.jpg" alt="大眼睛">
							<em class="movie-name">大眼睛</em>
						</li>
						<li class="list">
							<img src="/Content/img/index/cover/02.jpg" alt="天菜大廚">
							<em class="movie-name">天菜大廚</em>
						</li>
						<li class="list">
							<img src="/Content/img/index/cover/03.jpg" alt="步步驚心">
							<em class="movie-name">步步驚心</em>
						</li>
					</ul>
					<div class="bg-film">
						<svg class="svg-icon">
							<linearGradient id="film-layer-1" gradientUnits="userSpaceOnUse" x1="0" y1="150" x2="60" y2="150">
								<stop offset="0" style="stop-color:#C0C0C0"/>
								<stop offset="0.45" style="stop-color:#767575"/>
								<stop offset="0.99" style="stop-color:#575353"/>
							</linearGradient>
							<use xlink:href="/Content/svg/icon.svg#film-1"/>
						</svg>
						<svg class="svg-icon">
							<linearGradient id="film-layer-2" gradientUnits="userSpaceOnUse" x1="20.5933" y1="135.5" x2="60" y2="135.5">
								<stop offset="0" style="stop-color:#C0C0C0"/>
								<stop offset="0.99" style="stop-color:#989696"/>
							</linearGradient>
							<use xlink:href="/Content/svg/icon.svg#film-2"/>
						</svg>
						<svg class="svg-icon">
							<linearGradient id="film-layer-3" gradientUnits="userSpaceOnUse" x1="19" y1="169.1455" x2="31" y2="169.1455">
								<stop offset="0" style="stop-color:#C0C0C0"/>
								<stop offset="0.99" style="stop-color:#F6F7F7"/>
							</linearGradient>
							<use xlink:href="/Content/svg/icon.svg#film-3"/>
						</svg>
						<svg class="svg-icon">
							<linearGradient id="film-layer-4" gradientUnits="userSpaceOnUse" x1="31" y1="171.5" x2="504" y2="171.5">
								<stop offset="0" style="stop-color:#FFFFFF"/>
								<stop offset="0.29" style="stop-color:#A2AAB0"/>
								<stop offset="0.99" style="stop-color:#FFFFFF"/>
							</linearGradient>
							<use xlink:href="/Content/svg/icon.svg#film-4"/>
						</svg>
					</div>
				</div>
				<div class="half-part right-part lottery-part">
					<div class="lightbox">
						<ul class="award-list">
							<li class="list">
								<em class="award-name">180天<br>免費看</em>
							</li>
							<li class="list is-show">
								<em class="award-name">NT$300<br>+<br>37天免費看</em>
							</li>
							<li class="list">
								<em class="award-name">60天<br>免費看</em>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<p class="desc">獎品限制,活動詳情與注意事項請見右上角活動辦法</p>
			<a href="game.html" class="btn-link"><em>轉好運 立即抽</em></a>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>